<div class="container" id="main">
    <div class="row">

        <div class="col s6" id="project_title_div">
                <label class="heading_small_text"class="heading_small_text">Project Title </label>   <div class="heading_text"><label  *ngIf="isViewForm">{{projectTitle}}</label></div>

                <div *ngIf="!isViewForm">   
                    <input value="{{projectTitle}}"  name="project_tile"     (change)="onProjectTitleChange($event.target.value)"/>
                </div> 

            </div>
            
            <div class="col s6" id="default_rate_div">

                <label >Default Rate</label>
                <div class="heading_text">
                <label *ngIf="isViewForm" (click)="isEdit=true" from="name">{{estimationCurrency}}{{defaultRate}}</label>
                </div>


                <div *ngIf="!isViewForm">

                        <div class="col s6">
                    <input myNumberOnly value="{{defaultRate}}" type="text" name="project_tile" (keydown.enter)="isEdit=false"  (change)="onProjectEstimationChange($event.target.value)"/>
</div><div class="col s6">

                    <select (change)="onChange($event.target.value)" class="input-field select-dropdown browser-default">
                
                        <option *ngFor="let i of currencies">{{i}}</option>
                    </select>
</div>


                </div>

            </div>



 </div>

    <div class="row">

            <table class="responsive-table centered">
                    <thead>
                      <tr>
                        <th class="left_text">Description of Task</th>
                        <th>Hours</th>
                        <th></th>
                        <th>Rate</th>
                        <th>Estimated Fee</th>
                        <th  *ngIf="!isViewForm"></th>
                      </tr>
                    </thead>
                    <tbody >
                

                        <tr *ngFor="let task of tasks; let i = index">

                            <td class="left_text" >
                                <input [(ngModel)]="task.description" placeholder="Enter Value"  *ngIf="!isViewForm">
                                <p  *ngIf="isViewForm">{{task.description}}</p>



                            </td>

                            <td >
                                    <input  myNumberOnly *ngIf="!isViewForm"  placeholder="Enter Value"  [(ngModel)]="task.hours" (ngModelChange)="calculateEstimate(task)">
                                    <p  *ngIf="isViewForm">{{task.hours}}</p>
                            </td>

                            <td class="operator">x</td>
                            
                            <td >
                                <input myNumberOnly [(ngModel)]="task.rate" *ngIf="!isViewForm" placeholder="Enter Value" (ngModelChange)="calculateEstimate(task)">
                                <p  *ngIf="isViewForm">{{task.rate}}</p>
                            </td>

                            <td >
                                {{task.estimateFee}}
                            </td>

                            <td   *ngIf="!isViewForm">
                                <a href="#" (click)="deleteTask(i)"><i class="fa fa-trash-o"></i></a>
                            </td>

                            

                        </tr>

                        <tr style="background: none! important;">
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                        
                        <td ><p class="heading_text">{{estimationCurrency}}{{totalEstimate}}</p></td></tr>

                     

                    </tbody>


                  </table>
    </div>

    <div class="row"  *ngIf="!isViewForm">


            <div class="col s6">
                
                    <a (click)="addTask()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                <a href="#" (click)="resetForm()"> Reset form</a></div>
    </div>

    <div class="row">
           

            <div class="col s3 offset-s9 no-print">

            <div class="row "  *ngIf="!isViewForm">
                    
            <button id="view_estimate" (click)="viewEstimate()" type="button" class="btn btn-primary"><div>VIEW ESTIMATE</div><div> <small>IN PRINT READY FORMAT</small>
                </div></button>

                </div>
                <div class="row"  *ngIf="isViewForm">

                <a style="float: right;" href="#" (click)="viewEstimate()"><<< Go Back</a>

                </div>
        </div>
    </div>

</div><!-- .container -->


 